header {
    position: sticky;
    top: 0;
    padding: 20px 0;
    background-color: #000000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-image {
    width: 200px;
    height: 50px;
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font--anonymous);
    font-size: 1.4em;
}

.menu__item-link {
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color .3s ease 0s;
    &:hover {
        background-color: rgba(214, 214, 214, 0.49);
    }
}

.menu__item-btn {
    padding: 10px 20px;
    color: #ffffff;
    border: 2px solid red;
    border-radius: 10px;
    transition: all .3s ease 0s;
    text-decoration: none;
    &:hover {
        background-color: red;
    }
}

@media screen and (max-width: 1024px) {
    .header__nav {
        display: none;
    }
}
